<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{{ item.name }} -- Checkout Equipment</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<nav>
    <ul>
        <li><a href="/equipment" rel="collection">Equipment Collection</a></li>
        <li><a href="/reservations" rel="related">Reservation Calendar</a></li>
    </ul>
</nav>

<main>
<h1>{{ item.name }}</h1>
<!-- An equipment record needs:
     - Library information (barcode, name, replacement cost)
     - List of kit accessories
     - Link to reservations for that item
     - Form to add a new reservation
-->
<form class="edit_equipment" method="patch">
    <p><label>Barcode:</label>
        <span>{{ item.barcode }}</span>
    </p>
    <p><label>Replacement Cost:</label>
        <span>{{ item.replacementCost[0].price }}</span>
    </p>
    <p><label>Description:</label><br>
        <textarea name="description" rows="3">{{ item.description }}</textarea>
    </p>
    <p><label>Kit Contents:</label>
        <ul style="list-style:none;">
            {% for accessory in item.accessories %}
            <li><input name="accessories" type="text" value="{{ accessory }}" size="40"></input></li>
            {% endfor %}
            <li><input name="accessories" type="text" placeholder="Add New Accessory" size="40"></input></li>
        </ul>
    </p>
    <p><input class="edit" type="submit" value="Update Equipment"></p>
    <script>
    var form = document.querySelector('form.edit_equipment');
    var button = document.querySelector('form.edit_equipment input.edit');

    button.addEventListener('click', function (event) {
        event.preventDefault();
        var request = new XMLHttpRequest();
        request.open('PATCH', window.location.pathname);
        request.onreadystatechange = function () {
            if (XMLHttpRequest.DONE === request.readyState
                && 200 === request.status) {
                    window.location.reload(true);
            }
        }
        request.send(new FormData(form));
    }, false);
    </script>
</form>

<h2>Reserve This Item</h2>
<form class="edit_reservation" action="/reservations" method="post">
    <input name="item" type="hidden" value="{{ item.barcode }}">
    <p><label>Start Date: <input name="start" type="date" required></label></p>
    <p><label>End Date: <input name="end" type="date"></label></p>
    <p><input type="submit" value="Please may I have it?"></p>
</form>

<p><a href="/calendar?search_item={{ item.barcode }}" rel="reserve">View Reservations</a></p>
</main>

</body>
</html>
