<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Checkout Equipment</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<nav>
    <ul>
        <li><a href="/equipment" rel="self">All Equipment</a></li>
        <li><a href="/reservations" rel="related">Reservation Calendar</a></li>
    </ul>
</nav>

<main>
<h1>SILS Checkout Equipment</h1>
<!-- The equipment collection needs:
     - List of links to equipment
     - Form to add new equipment
-->

<h2>Equipment List</h2>
<form class="search" method="get">
    <input name="query" type="text">
    <input type="submit" value="Search Equipment">
</form>
<!-- The real version would filter this list based on the query parameter,
     if one exists.
 -->
<ul>
    {% for item_id, item in equipment %}
    <li class="equipment"><a href="{{ url_for('equipmentitem', equipment_id=item_id) }}" rel="item">{{ item.name }}</a></li>
    {% endfor %}
</ul>

<h2>Add New Equipment</h2>
<form class="edit_equipment" method="post">
    <p><label>Item Name:</label> <input name="name" type="text" required></p>
    <p><label>Barcode:</label> <input name="barcode" type="number" required></p>
    <p><label>Replacement Cost:</label> <input name="replacementCost" type="number" step="0.01" min="0" placeholder="0.00"></p>
    <p><label>Description:</label> <br><textarea name="description"></textarea></p>
    <p><input type="submit" value="Add Item"></p>
</form>
</main>

</body>
</html>
