<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{{ item.name }} Reservation -- Checkout Equipment System</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="alternate" href="{{ request.path }}.json">
</head>
<body>

<nav>
    <ul>
        <li><a href="/equipment" rel="related">All Equipment</a></li>
        <li><a href="/reservations" rel="collection">Reservation Calendar</a></li>
    </ul>
</nav>

<main itemscope itemtype="https://schema.org/Reservation/EquipmentReservation">
<h1> {{ item.name }} Reservation: {{ reservation.startDate.strftime("%b %d, %Y") }}</h1>
<!-- A reservation needs:
     - Start Date
     - End Date
     - Link to Item
     - Who reserved it
 -->
<form class="edit_reservation"  method="patch">
    <p><label>Item</label>
        <span><a itemprop="reservationFor" href="/equipment/{{ reservation.requestedItem }}" rel="reservedItem">{{ item.name }}</a></span>
    </p>
    <p><label>Reserved for</label>
        <span itemprop="underName">{{ reservation.requestedBy }}</span>
    </p>
    <p><label>Reservation Updated</label>
        <span itemprop="modifiedTime">{{ reservation.modifiedTime.strftime("%b %d, %Y @ %H:%M") }}</span>
    </p>
    <p><label>Start Date</label>
        <input name="startDate" type="date" value="{{ reservation.startDate }}" required>
        <span itemprop="startDate" style="display:none;">{{ reservation.startDate }}</span>
    </p>
    <p><label>End Date</label>
        <input name="endDate" type="date" value="{{ reservation.endDate }}">
        <span itemprop="endDate" style="display:none;">{{ reservation.endDate }}</span>
    </p>
    <p><input class="edit" type="submit" value="Update Reservation"></p>
    <script>
    var form = document.querySelector('form.edit_reservation');
    var button = document.querySelector('form.edit_reservation input.edit');

    button.addEventListener('click', function (event) {
        event.preventDefault();
        var request = new XMLHttpRequest();
        request.open('PATCH', window.location.pathname);
        request.onreadystatechange = function () {
            if (XMLHttpRequest.DONE === request.readyState
                && 200 === request.status) {
                    window.location.reload(true);
            }
        }
        request.send(new FormData(form));
    }, false);
    </script>
</form>

<p>Want to use this item? Create a new reservation through our <a href="/reservations" rel="collection">Reservation Calendar</a>.</p>
</main>

<footer>
    <a rel="alternate" href="{{ request.path }}.json">View Reservation as JSON-LD</a>
</footer>
</body>
</html>
