body, nav, nav ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}
main, footer {
    width: 80%;
    margin: auto;
}
footer {
    font-size: 75%;
    margin-top: 1em;
}

nav {
    background: black;
    padding-left: 10%;
}
nav ul {
    list-style: none;
    display: flex;
}
nav a {
    color: white;
    display: block;
    padding: 0.5em 1em;
}
nav a[rel~="self"] {
    background: purple;
}

form {
    min-width: 10em;
    display: inline-block;
}
form p {
    margin: 0;
    line-height: 1.6;
}
form label {
    font-weight: bold;
    padding-right: 0.5em;
}
label + input, label + select, label + span {
    float: right;
}
textarea {
    display:block;
    width: 22.7em;
}

input + span, textarea + span, ul + span {
    display: none;
}
